<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{$web_url}/qxc/handler/qsprite.css" type="text/css" />
    <link rel="stylesheet" href="{$web_url}/qxc/handler/qsprite.layout.css" type="text/css" />
    <link rel="stylesheet" href="{$web_url}/qxc/handler/qsprite.form.css" type="text/css" />
    <link rel="stylesheet" href="{$web_url}/qxc/handler/qxcore.css" type="text/css" />
</head>
<body class="content one-col" id="test">
    <div id="wrapper">
        <div id="header">
            <img src="{$web_url}/qxc/handler/logo.png" width="250" height="100" alt="logo"/>
        </div> <!-- #header -->
        <div id="col1">
		{$col1}
                    <?=QXC()->Captcha->GetCode()?>
        </div> <!-- #col1 -->
        <div id="col2">            
                {$col2}
        </div> <!-- #col2 -->
        <div id="col3">
		{col3}
        </div> <!-- #col3 -->
        <div id="footer">
		{$footer}
        </div> <!-- #footer -->
    </div>
</body>
</html>