/* 
    Document   : qxcore
    Created on : 24.08.2009, 21:57:21
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    width: 100%;
    height: 190px;
    background: transparent url('header-background.jpg') repeat-x scroll center;
}

.error-center-block {
    margin: auto;
    width: 40%;
    height: 10%;
    color: #ccc;
}

.error-center-block h1 {
    font-size: 100px;
}

h1 {
    padding: 0;
    margin: 5px;
    font-family:"Georgia","Courier New",Courier,monospace;
}

